.card {
    margin-top: 100px;
    width: 40%;
  }
body {
          margin: 0;
          font-family: Arial, sans-serif;
          background-image: url('../img/bg.jpeg');
          /* Ganti dengan path gambar background kamu */
          background-size: cover;
          background-position: center;
          background-attachment: fixed;
          /* Agar background tetap di tempat saat di-scroll */
      }

body::before {
          content: '';
          /* Membuat elemen pseudo */
          position: absolute;
          /* Menempatkan overlay di atas background */
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          /* Hitam dengan 50% opacity */
          z-index: -1;
          /* Agar overlay berada di belakang konten utama */
      }