bod {
  background-image: url(../../img/bg.jpeg);
  overflow: hidden; /* Mencegah scroll */
  height: 100vh; /* Mengatur tinggi body */
  display: flex; /* Menggunakan Flexbox */
  justify-content: center; /* Menempatkan konten di tengah secara horizontal */
  align-items: center; /* Menempatkan konten di tengah secara vertikal */
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-image: url(../../img/bg.jpeg);
}
